<div id="tab-pannel" class="panel-group">
	<form name="nonRegularPayForm" validate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Non Regular Pay and Allowances - Codes</h4>
			</div>
			<div class="panel-body10">
				<div id="tableHeight8-2" class=" table-responsive">
					<table class="table table-striped" fixed-header>
						<thead id="tab-head">
							<tr>
								<th ng-show="action =='Add'">Select</th>
								<th>Code</th>
								<th>Name</th>
								<th>Taxable or Not</th>
								<th>Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="nonRegularPay in addNonRegularPayCodes">
								<td ng-show="action =='Add'"><input type="checkbox"
									ng-model="nonRegularPay.selected"
									ng-click="popUpRowSelect(nonRegularPay)"></td>

								<td ng-form name="classform"><input type="text" name="code"
									ng-model="nonRegularPay.nonRegularPayMstrTO.code" pattern="^[a-zA-Z\d\s.,]+$"
									minlength="2" maxlength="20" placeholder="Code"
									required="required"> <span
									ng-show="classform.code.$dirty && classform.code.$error.required">This
										field is required</span> <span
									ng-show="classform.code.$error.minlength">Too Short!</span> <span
									ng-show="classform.code.$error.pattern">Must enter
										required format</span> <span
									ng-show="classform.code.$error.maxlength">You reached
										max length</span></td>

								<td ng-form name="classform1"><input type="text"
									name="name" ng-model="nonRegularPay.nonRegularPayMstrTO.name"
									pattern="^[a-zA-Z\d\s.,]+$" minlength="3" maxlength="50"
									placeholder="Description" required="required"> <span
									ng-show="classform1.name.$dirty && classform1.name.$error.required">This
										field is required</span> <span
									ng-show="classform1.name.$error.minlength">Too Short!</span> <span
									ng-show="classform1.name.$error.pattern">Must enter
										required format</span> <span
									ng-show="classform1.name.$error.maxlength">You reached
										max length</span></td>

								<td><input type="text" name="taxableOrNot"
									ng-model="nonRegularPay.nonRegularPayMstrTO.taxStatus"
									placeholder="Taxable Or Not"></td>

								<td><input type="text" name="notes"
									ng-model="nonRegularPay.nonRegularPayMstrTO.comments" placeholder="Notes"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input type="submit"
						ng-click="nonRegularPayForm.$valid && addRows()" value="Add"
						ng-show="action =='Add'"
						class="btn bottomaligned btn-brown btn-sm" value="Add" /> <input
						type="button" ng-click="deleteRows()" value="Delete"
						ng-show="action =='Add'"
						class="btn bottomaligned btn-brown btn-sm">
				</div>
				<div class="pull-right">
					<input type="submit"
						ng-click="nonRegularPayForm.$valid && saveNonRegularPay()"
						class="btn bottomaligned btn-brown btn-sm" value="Save" />
				</div>
			</div>
		</div>
	</form>
</div>














