<div id="tab-pannel" class="panel-group"  ng-init="getCurrentProjs()" >
<div id="tab-pannel" class="panel panel-default">
			<div class="panel-heading">
	<th>Current Project Details</th>
	</div>
	<div class="table-responsive panel-body9">
			<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Project Code</th>
				<th>Project Name</th>
				<th>EPS ID</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="proj in currentProjsDetails" ng-dblclick="projDetailsPopUp(proj)">		
				<td>{{proj.projCode}}</td>	
				<td>{{proj.projName}}</td>				
				<td>{{proj.parentName}}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</div>

