<div id="tab-pannel">
	<form name="projEmpClassForm" validate>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Employee Classification</h4>
				</div>
				<div class="panel-body15">
					<div id="tableHeight13-1" class="table-responsive">
						<table class="table table-striped" fixed-header>
							<thead>
								<tr>
									<th ng-show="action == 'Add'">Select</th>
									<th>Resource Id/ RsourceName</th>
									<th>Resource Type</th>
									<th>Trade Name</th>
									<th>Work Union</th>
									<th>Unit Of Measure</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tab in addprojetemp">
									<td ng-show="action == 'Add'"><input type="checkbox"
										ng-model="tab.select" ng-click="popUpRowSelect(tab)"></td>

									<td><select
										ng-options="res.dispName for res  in resourceData track by res.code"
										ng-model="tab.empClassTO" ng-required="true">
											<option value="">-select-</option>
									</select></td>

									<td><select
										ng-options="catg.code for catg  in catgData track by catg.code"
										ng-model="tab.projEmpCatgTO" ng-required="true" >
											<option value="">-select-</option>
									</select></td>

									<td ng-form name="empform"><input type="text"
										ng-model="tab.tradeContrName" placeholder="Trade Name"
										name="client" ng-required="true" 	 pattern=[^\w\d]*((.*[A-Za-z]+.*)|[A-Za-z]+.*([0-9]+.*))
										maxlength=20> <span
										ng-show="empform.client.$dirty && empform.client.$error.required"></span>
										<span ng-show="empform.client.$error.pattern">Atlist One Alphabet is mandatory</span> <span
										ng-show="empform.client$error.maxlength">Enter
											upto20chars only</span></td>

									<td ng-form name="empform1"><input type="text"
										ng-model="tab.unionWorkerName" name="union"
										placeholder="Work Union" maxlength=20
										 pattern=[^\w\d]*((.*[A-Za-z]+.*)|[A-Za-z]+.*([0-9]+.*)) name="clients" ng-required="true">
										<span
										ng-show="empform1.union.$dirty && empform1.union.$error.required"></span>
										<span ng-show="empform1.union.$error.pattern">Atlist One Alphabet is mandatory</span> <span
										ng-show="empform1.union.$error.maxlength">Enter
											upto20chars only</span></td>

									<td><select
										ng-options="uom.name  for uom in unitOfMeasures track by uom.name" 
										ng-model="tab.measureUnitTO" ng-required="true">
											<option value="">-select-</option>
									</select></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="pull-left">
						<input type=submit class="btn bottomaligned btn-brown btn-sm"
							ng-click="projEmpClassForm.$valid && addEmpClass()" value="Add"
							ng-show="action =='Add'"> <input type="button"
							class="btn bottomaligned btn-brown btn-sm"
							ng-click="uiDelete()" value="Delete" ng-show="action =='Add'" />
					</div>
					<div class="pull-right">
						<input type="submit" class="btn bottomaligned btn-brown btn-sm"
							ng-click="projEmpClassForm.$valid &&  saveEmpClass()"
							value="Save"  />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>