<div id="tab-pannel" class="panel-group  ">
	<form name="enrollmentpromotionForm" validate>
	<div class="panel panel-default ">
		<div class="panel-heading">
			<h4 class="panel-title">Enrollment(s) / Promotion(s)</h4>
		</div>
				<div class="panel-body15">
			<div class="table-responsive panel-collapse collapse in">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Select</th>
								<th>Employee Id</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Parent Company ID</th>
								<th>Parent Company Name</th>
								<th>Gender</th>
								<th>Date Of Birth</th>
								<th>Employee Designation Trade Name</th>
								<th>Local or Non Local Employee</th>
								<th>Employment Type</th>
								<th>Existing or New Employee</th>
								<th>EPS ID</th>
								<th>EPS Name</th>
								<th>Project ID</th>
								<th>Project Name</th>
								<th>Purchase Order Number</th>
								<th>PO Schedule Item Id</th>
								<th>Resource Classification ID</th>
								<th>Resource Classification Name</th>
								<th>New Employee Enrollment Date</th>
								<th>Enrollment Place/Location</th>
								<th>Reporting to-Employee ID and Name</th>
								<th>Employment Contract Date</th>
								<th>Employment Contract Number</th>
								<th>Employment Contract Document</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="promotion in addEmpPromotions">
								<td><input type="checkbox" value="promotion.id"
									ng-model="promotion.selected" ng-click="promotionPopUpRowSelect(promotion)"></td>
								<td><input type="text" name="eId" ng-model=promotion.eId
									readonly="readonly"></td>
								<td><input type="text" name="fName" ng-model="promotion.fName"
									readonly="readonly"></td>
								<td><input type="text" name="lName" ng-model="promotion.lName"
									readonly="readonly"></td>
								<td><input type="text" name="pComId" ng-model="promotion.pComId"
									placeholder="pComId" readonly="readonly"></td>
								<td><input type="text" name="pComName"
									ng-model="promotion.pComName" placeholder="pComName"
									readonly="readonly"></td>
								<td><input type="text" name="gender" ng-model="promotion.gender"
									readonly="readonly"></td>
								<td><input type="text" name="dob" ng-model="promotion.dob"
									readonly="readonly"></td>
								<td><input type="text" name="tradeName"
									ng-model="promotion.tradeName" placeholder="tradeName"
									readonly="readonly"></td>
								<td><input type="text" name="locOrNonLoc"
									ng-model="promotion.locOrNonLoc" readonly="readonly"></td>

								<td><input type="text" name="empType"
									ng-model="promotion.empType" readonly="readonly"></td>
								<td><input type="text" name="existOrNew"
									ng-model="promotion.existOrNew" readonly="readonly"></td>
								<td><input type="text" name="epsId" ng-model="promotion.epsId"
									placeholder="epsId" ng-click="getUserProjects(promotion)" ng-required="true"></td>
								<td><input type="text" name="epsName"
									ng-model="promotion.epsName" placeholder="epsName"
									ng-click="getUserProjects(promotion)" ng-required="true"></td>
								<td><input type="text" name="pId" ng-model="promotion.projId"
									placeholder="pId" ng-click="getUserProjects(promotion)" ng-required="true"></td>
								<td><input type="text" name="pName" ng-model="promotion.projName"
									placeholder="pName" ng-click="getUserProjects(promotion)" ng-required="true"></td>
								<td><input type="text" name="pon" ng-model="promotion.pon"
									placeholder="pon" ng-required="true"></td>
								<td><input type="text" name="posItemId"
									ng-model="promotion.posItemId" placeholder="posItemId"
									ng-required="true"></td>
								<td><input type="text" name="resourceClassId"
									ng-model="promotion.resourceClassId" placeholder="resourceClassId"
									ng-required="true"></td>
								<td><input type="text" name="resourceClassName"
									ng-model="promotion.resourceClassName"
									placeholder="resourceClassName" ng-required="true"></td>
								<td><input type="date" name="enrolDate"
									ng-model="promotion.enrolDate" placeholder="enrolDate"
									ng-required="true"></td>
								<td><input type="text" name="enrolLoc"
									ng-model="promotion.enrolLoc" placeholder="enrolLoc"
									ng-required="true"></td>
								<td><input type="text" name="empIdName"
									ng-model="promotion.empIdName" placeholder="empIdName"
									ng-required="true"></td>
								<td><input type="date" name="empCDate"
									ng-model="promotion.empCDate" placeholder="empCDate"
									ng-required="true"></td>
								<td><input type="text" name="empCNum"
									ng-model="promotion.empCNum" placeholder="empCNum"
									ng-required="true"></td>
								<td><input type="file" name="empCDoc"
									ng-model="promotion.empCDoc" 
									></td>
							</tr>
						</tbody>
					</table>
		</div>
		</div>
		<div class="panel-footer">
			<div class="pull-right">
			<input type="button" class="btn btn-brown btn-sm" ng-click="addPromotions()" value="AddPromotion" ng-show="action =='Add'">
				<input type="button" class="btn btn-brown btn-sm" ng-click="saveEmpServiceHistory()" value="Save">
				</div>
				<div class="pull-left">
				<input type="button" class="btn btn-brown btn-sm" ng-click="deleteRows()" value="Delete" ng-show="action =='Add'">
			</div>
			</div>
	</div>
	</form>
</div>
