<header id="custom-nav">
	<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="images/potlogo.jpg" alt="project on track" class="img-responsive" /></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" ng-if="authenticated.usrAuthSuccess==='Y'"	>
				<ul class="nav navbar-nav navbar-right">
					<li><a>Welcome: {{account.displayName}}</a></li>
					<li><a href="#/home"  ng-click="homeButton()">Home</a></li>
					<li><a href="#/" id="exitApp"  ng-click="logout()" >Logout</a></li>
					<li><a class="homepage">Back</a></li>
				</ul>

			</div>
	</nav>
</header>
