<div id="tab-pannel" class="panel-group" ng-controller="ProjSOWController"  ng-init="getCostDetails()">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">CostCode</h4>
		</div>

		<div class="panel-body22 table-responsive">
			<table class="table table-striped table-fixed-header">
				<thead>
					<tr>
						<th>Cost Id</th>
						<th>Cost Item Name</th>
						<th>Cost Class Id</th>
						<th>Cost Class Name</th>
						<th>Start Date</th>
						<th>Finish Date</th>
						<th>Work Dairy Entry</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tab in costData| sowCostFilterTree:itemId:isExpand"
						ng-dblclick="selectCostDetails(tab)">
						<td><span
								style="padding-left: 10px;" ><span style="padding-left: {{tab.level*30}}px;"> <fa
									ng-show="((!tab.leaf && tab.expand) || (!tab.leaf  && tab.projCostCodeItemTOs.length <= 0))"
									ng-click="itemClick(tab.id,tab.expand);"
									name="fa fa-minus"> </fa> <fa
									ng-click="itemClick(tab.id,tab.expand);"
									name="fa fa-plus" ng-show="(!tab.leaf && !tab.expand && tab.projCostCodeItemTOs.length > 0)">
								</fa> <fa ng-click="itemClick(tab.id,tab.expand);"
									ng-show="(tab.item=='1')" name="leaf"> </fa> <span
								style="padding-left: 10px;" >{{tab.code}} </span></span></span></td>
						<td>{{tab.name}}</td>
						<td>{{tab.costCodeTO.code}}</td>
						<td>{{tab.costCodeTO.name}}</td>
						<td>{{tab.startDate | date}}</td>
						<td>{{tab.finishDate | date }}</td>
						<td><input type="checkbox" disabled="disabled"
							ng-model="tab.workdairyEntry"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>
