<div id="tab-pannel" class="panel-group" ng-init="getProjSOWItemsById()">
	<form name="myForm" validate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Scope Of Works</h4>
			</div>
		</div>
		<div class="panel-body10">
			<div id="tableHeight7" class="table-responsive">
				<table id="tree" class="table table-striped table-bordered" fixed-header> 
					<thead id="tab-head">
						<tr>
							<th>SOW Item Id</th>
							<th>SOW Item Desc</th>
							<th>Unit Of Measure</th>
							<th>SOE Item Id</th>
							<th>SOR Item Id</th>
							<th>Cost Item Id</th>
							<th>Start Date</th>
							<th>Finish Date</th>
							<th>Original Estimation</th>
							<th>Revised Estimation</th>
							<th>Actual Quantity</th>
							<th>Balance</th>
							<th>SOW Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="tab in editSOWData |  sowPopupFilterTree:itemId1:isExpand1" class="abc{{tab.level}}">
							<td id="input-width">
								<span ng-show="tab.level > 0" class="xyz" style="padding-left:30px;"></span>
								<span ng-show="tab.level > 1" class="xyz" style="padding-left:30px;"></span>
								<span ng-show="tab.level > 2" class="xyz" style="padding-left:30px;"></span>
							 <fa
										ng-show="(!tab.leaf && tab.expand)"
										ng-click="itemClick1(tab.id,tab.expand);" name="fa fa-minus">
									</fa> <fa ng-click="itemClick1(tab.id,tab.expand);" name="fa fa-plus"
										ng-show="(!tab.leaf && !tab.expand)"> </fa> <fa
										ng-click="itemClick1(tab.id,tab.expand);" ng-show="(tab.leaf)"
										name="leaf"> </fa> <input ng-show="tab.item" type="text"
									ng-model="tab.code"> <span ng-hide="tab.item">{{tab.code}}</span>
							</td>
							<td id="input-width1"><input ng-show="tab.item" type="text"
								ng-model="tab.name"> <span ng-hide="tab.item">{{tab.name}}</span></td>
							<td>{{tab.measureUnitTO.name}}</td>
							<td>{{tab.projSOEItemTO.code}}</td>
							<td id="input-width1"><input ng-show="tab.item" type="text"
								ng-model="tab.projSORItemTO.code" readonly="readonly"
								ng-click="sorDetails(tab)"></td>
							<td id="input-width1"><input ng-show="tab.item" type="text"
								ng-model="tab.projCostItemTO.code" readonly="readonly"
								ng-click="costDetails(tab)"></td>
	
	
							<td ng-form="startForm"> <input ng-show="tab.item"  placeholder="dd-mm-yyyy" ng-trim="false"
								type="date" ng-model="tab.startDate " name="start"
								placeholder=" Start Date" ng-trim="false" ng-required="true">
	
								<span ng-show="startForm.start.$error.required "></span></td>
							<td ng-form="finishForm"> <input ng-show="tab.item"
								ng-required="true" name="finish" type="date"  placeholder="dd-mm-yyyy" ng-trim="false"
								ng-model="tab.finishDate" ng-trim="false" placeholder="Finish Date"> <span
								ng-show="finishForm.finish.$error.required "></span></td>
	
							<td>{{tab.quantity}}</td>
							<td id="input-width" ng-form="myForm3"><input
								ng-show="tab.item" type="text" name="rev"
								ng-model="tab.revisedQty" pattern="[:\d]+" ng-required="true"><span
								ng-show="myForm3.rev.$error.pattern">only Digits allowed</span></td>
							<td>{{tab.actualQty}}</td>
							<td>{{tab.balance}}</td>
							<td id="input-width1" ng-form="myForm2"><input
								ng-show="tab.item" type="text" name="desc"
								ng-model="tab.comments" pattern="[a-zA-Z-\s]+"><span
								ng-show="myForm2.desc.$error.pattern">only alphabets
									allowed</span></td>
							</td>
	
						</tr>
					</tbody>
				</table>
			</div>
		<div class="panel-footer">
			<div class="pull-right">
				<input type="button" class="btn bottomaligned btn-brown btn-sm"
					ng-click="saveSOWDetails()" value="Save" >
			</div>
		</div>
	</form>
</div>
