<div id="tab-pannel" class="panel-group">
	<div class="panel-body10">
		<div id="tableHeight6"
			class=" table-responsive panel-collapse collapse in">
			<table class="table table-striped table-bordered" fixed-header>
				<thead>
					<tr>
						<th colspan="4" style="text-align: center;">PO Wise Payment
							Status ( For All Purchase Orders )</th>
						<th colspan="2" style="text-align: center;">PO Wise Payment
							Status ( For Admin Category Items )</th>
						<th colspan="2" style="text-align: center;">PO Wise Payment
							Status ( For Service Category Items )</th>
					</tr>
					<tr>
						<th>PO Wise Cumulative Invoice Amount</th>
						<th>PO Wise - Cost Accruals</th>
						<th>PO Wise - Paid Amount</th>
						<th>PO Wise Balance Amount Available</th>
						<th>PO Wise - Cost Accruals</th>
						<th>PO Wise - Paid Amount</th>
						<th>PO Wise - Services - Cost Accruals</th>
						<th>PO Wise - Services - Paid Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer">
		<div class="pull-left">
			<input class="btn bottomaligned btn-brown btn-sm" type="button"
				ng-click="deactivateManpowerPO()" value="Deactivate" /> <input
				class="btn bottomaligned btn-brown btn-sm" type="button"
				ng-click="addManpowerPOPayment('Edit')" value="Edit" />
		</div>
		<div class="pull-right">
			<input class="btn bottomaligned btn-brown btn-sm" type="button"
				ng-click="addManpowerPOPayment('Add')" value="Add" />
		</div>
	</div>
</div>