
<div ng-controller="ProjLeaveTypeController">
	<div id="tab-pannel" class="panel-group">
		<div id="tab-pannel" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Leave Types</h4>
			</div>
			<div class="panel-body1 spacer2">
				<div class="pull-left left-padding">
					<input type="text" ng-model="searchProject.parentName"
						placeholder="EPS ID/EPS Name" ng-click="getUserProjects()">
					<input type="text" ng-model="searchProject.projName"
						placeholder="Project ID/Project Name" ng-click="getUserProjects()">
					<select ng-model="leaveReq.status">
						<option value="1" label="Active" selected="selected"></option>
						<option value="2" label="InActive"></option>
					</select>
				</div>
				<div class="pull-right right-padding">
					<input type="button"
						ng-click="getProjLeaveTypes(projects.proj.projId)"
						class="btn bottomaligned btn-brown btn-sm" value="Search"
						ng-model="searchText"> <input type="reset"
						class="btn bottomaligned btn-brown btn-sm"
						ng-click="resetProjLeaveTypes()" value="Reset">
				</div>
			</div>
			<div class="table-responsive panel-body22 panel-collapse collapse in">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Select</th>
						<th>Code-Name</th>
						<th>Request Form</th>
						<th>Medical Form</th>
						<th>Applicable For</th>
						<th>Default Cost Code</th>
						<th>Max NO Of Days</th>
						<th>Category</th>
						<th>Status</th>
						</tr>
					</thead>
					<tr ng-repeat="tab in tableData">
						<td><input type="checkbox" ng-model="tab.select"
							ng-click="rowSelect(tab)"></td>
						<td>{{tab.leaveTypeTO.code}}-{{tab.leaveTypeTO.desc}}</td>
						<td><input type="checkbox" ng-model="tab.requestForm"
							ng-disabled="true"></td>
						<td><input type="checkbox" ng-model="tab.medicalForm"
							ng-disabled="true">
						<td>{{tab.projEmpCatgTO.code}}</td>
						<td>{{tab.projCostItemTO.code}}</td>
						<td>{{tab.maxallowdays}}</td>
						<td>{{tab.projLeavePaidCatgTO.code}}</td>
						<td>{{tab.status | potstatusfilter:tab.status}}</td>
					</tr>
					<!-- <tr ng-hide="tableData.length > 0">
								<td class="noresults" colspan="5" >No records found</td>
					</tr> -->
				</table>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input type="button" class="btn bottomaligned btn-brown btn-sm" ng-click="addpopup('Edit',searchProject)" value="Edit" ng-show="account.appCodeTemplate['PRJ_PRJLIB_LEAVETYPEATNDCE_ADD'] && activeFlag==1"/> 
						<input  type="button" class="btn bottomaligned btn-brown btn-sm" ng-click="deleteLeaveClass()" value="Deactivate"   ng-show="account.appCodeTemplate['PRJ_PRJLIB_LEAVETYPEATNDCE_DELETE'] && activeFlag==1"/>
						<input  type="button" class="btn bottomaligned btn-brown btn-sm" ng-click="activeLeaveClass()" value="Activate"  ng-show="account.appCodeTemplate['PRJ_PRJLIB_LEAVETYPEATNDCE_DELETE'] && activeFlag==2"  />  
				</div>
				<div class="pull-right">
					<input type="button" class="btn bottomaligned btn-brown btn-sm" ng-click="addpopup('Add',searchProject)" value="Create"  ng-show="account.appCodeTemplate['PRJ_PRJLIB_LEAVETYPEATNDCE_ADD'] && activeFlag==1"/>
				</div>
			</div>
		</div>
	</div>
</div>