<div ng-controller="EmpRegController"  ng-init="getTree()">
	<div class="row">
		<table class="table table-striped table-fixed">
			<thead>
				<tr>
					<td>Select</td>
					<td>EPS ID</td>
					<td>EPS Name</td>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="item in treeData | filterTreeItem:itemId:isExpand" ng-click="epspopup()">
					<td><input type="checkbox" ng-model="item.selected"
						ng-click="rowSelectN(item)"></td>
					<td><span style="padding-left: {{item.level*30}}px;">{{item.id}}
					</span></td>
					<td>{{item.name}}</td>

				</tr>
			</tbody>
		</table>

		<table>
			<tr>
				<td><input type="button" ng-click="trees('Add')" value="Add"></td>
				<td><input type="button" ng-click="deleteTree()" value="Delete"></td>
				<td><input type="button" ng-click="trees('Edit')" value="Edit"></td>
			</tr>
		</table>

	</div>
</div>

