<div id="tab-pannel">
	<div class="panel-group">
		<div class="panel panel-body20-1-1">
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th rowspan="2">Select</th>
							<th rowspan="2">Source Of Materials</th>
							<th rowspan="2">Material</th>
							<th rowspan="2">PO Schedule Item</th>
							<th rowspan="2">Purchase Order</th>
							<th rowspan="2">Docket Number</th>
							<th rowspan="2">Docket Date</th>
							<th rowspan="2">Supplier</th>
							<th rowspan="2">Unit Of Measure</th>
							<th rowspan="2">Location Of Delivery</th>
							<th rowspan="2">Quantity Recieved</th>
							<th rowspan="2">Rate For Units</th>
							<th rowspan="2">Upload Copy Of Delivery Docket</th>
							<th rowspan="2">Defects If Any</th>
							<th colspan="2">Cost Code wise Material Utilisation</th>
							<th rowspan="2">Total Consumption Quantity</th>
							<th rowspan="2">Approval Status</th>
						</tr>
						<tr>
							<th>gfgf</th>
							<th>nbnb</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="matestore in matestores">
							<td><input type="checkbox"
								ng-click="approveMaterialRowSelect(matestore)"
								ng-model="matestore.select"></td>
							<td>{{matestore.sourceOfMaterials}}</td>
							<td>{{matestore.material}}</td>
							<td>{{matestore.poScheduleItem}}</td>
							<td>{{matestore.purchaseOrder}}</td>
							<td>{{matestore.docketNumber}}</td>
							<td>{{matestore.docketDate}}</td>
							<td>{{matestore.supplier}}</td>
							<td>{{matestore.unitOfMeasure}}</td>
							<td>{{matestore.locationOfDelivery}}</td>
							<td>{{matestore.quantityReceived}}</td>
							<td>{{matestore.rateForUnits}}</td>
							<td>{{matestore.uploadDeliDoc}}</td>
							<td>{{matestore.defectsIfAny}}</td>
							<td>{{matestore.gfgf}}</td>
							<td>{{matestore.nbnb}}</td>
							<td>{{matestore.totalConsumQuan}}</td>
							<td>{{matestore.apprvStatus}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<input type="button" class="btn btn-brown bottomaligned"
					ng-click="editApprovedMaterial('Edit')" value="Edit">
			</div>


		</div>
	</div>
</div>
