<div id="tab-pannel" class="panel-group">
	<div class="panel-body10">
		<div id="tableHeight6"
			class=" table-responsive panel-collapse collapse in">
			<table class="table table-striped table-bordered" fixed-header>
				<thead>
					<tr>
						<th colspan="8" style="text-align: center;">Invoice Details</th>
						<th colspan="6" style="text-align: center;">Invoice Wise - Payment Status</th>
					</tr>
					<tr>
						<th>Invoice Date</th>
						<th>Invoice Number</th>
						<th>Net Invoice Amount</th>
						<th>Goods or services Tax Amount</th>
						<th>Total Invoice Amount(Include of all taxes)</th>
						<th>Payment Processing Period in Days</th>
						<th>Payment Due Date</th>
						<th>Payment Status</th>
						<th>Actual Payment Date</th>
						<th>Payment Release RefNumber</th>
						<th>Invoice Wise - Cost Accruals (Exclude of all taxes)</th>
						<th>Invoice Wise - Amount Paid (Exclude of all taxes)</th>
						<th>Invoice Wise - Amount Paid (Include of all taxes)</th>
					</tr>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer">
		<div class="pull-left">
			<input class="btn bottomaligned btn-brown btn-sm" type="button"
				ng-click="deactivatePlantInvoice()" value="Deactivate" /> <input
				class="btn bottomaligned btn-brown btn-sm" type="button"
				ng-click="addManpowerInvoice('Edit')" value="Edit" />
		</div>
		<div class="pull-right">
			<input class="btn bottomaligned btn-brown btn-sm" type="button"
				ng-click="addManpowerInvoice('Add')" value="Add" />
		</div>
	</div>
</div>