<div id="tab-pannel">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Internal Stage1 Approval</h4>
		</div>
		<div class="spacer2 panel-body20">
			<ng-form name="procureForm" validate>
				<div class="row" id="input-height">
					<div class="col-md-2" ng-show="preContractObj.id > 0">
						<input type="text" ng-model="preContractObj.code"
							readonly="readonly" >
					</div>


					<div class="col-md-2" ng-form name="myForm1">
						<input type="text" name="desc" ng-model="preContractObj.desc"
							placeholder="Contract Description" maxlength="100"
							required="required"> <span
							ng-show="myForm1.desc.$dirty && myForm1.desc.$error.required">This
							field is required</span> <span ng-show="myForm1.desc.$error.maxlength">You
							reached max length</span>
						
					</div>

					<div class="col-md-3" ng-form name="form">
						<select style="min-width: 200px !important;" id="contractType"
							name="contractType" required="required"
							ng-model="preContractObj.preContractTypeTO"
							ng-options="contract.code for contract in contractTypes track by contract.code"><option
								value="">Contract Type</option></select>
					</div>

					<div class="col-md-1" ng-form name="myForm2">
						<select style="min-width: 60px !important;" id="currency"
							name="currency" required="required"
							ng-model="preContractObj.currencyTO"
							ng-options="currency.code for currency in currencyList track by currency.code"><option
								value="">Currency</option></select>

					</div>

					<div class="col-md-2" ng-form name="myForm7">
						<input type="text" name="approver" ng-click="getUsersByModulePermission();"
							ng-show="preContractObj.workFlowStatusTO.value ==1 || preContractObj.workFlowStatusTO.value ==3"
							ng-model="approverUserMap[preContractObj.preContractReqApprTO.apprUserLabelkeyTO.id].name"
							placeholder="Approver ID" maxlength="100"> <span
							ng-show="myForm7.approver.$error.maxlength">You reached
								max length</span>
					</div>

					<div class="col-md-2" ng-form name="myForm8">
						<input type="text"
							ng-show="preContractObj.id >1"
							ng-model="preContractObj.preContractReqApprTO.reqComments"
							name="comment" placeholder="ReqComments" ng-disabled="preContractObj.workFlowStatusTO.value ==2 || preContractObj.workFlowStatusTO.value ==4" maxlength="100"><span
							ng-show="myForm8.comment.$error.maxlength">You reached
								max length</span>
					</div>

					<div class="col-md-2" ng-form name="myForm9">
						<input type="text"
							ng-show="preContractObj.workFlowStatusTO.value ==2 || preContractObj.workFlowStatusTO.value ==5 || preContractObj.workFlowStatusTO.value ==6"
							ng-model="preContractObj.preContractReqApprTO.apprComments"
							name="comments" placeholder="ApprComments" maxlength="100" ><span
							ng-show="myForm9.comments.$error.maxlength">You reached max length</span>
					</div>

					<!-- <td><input type="file" class="btn btn-brown"
						ng-model="preContractObj.preContractDocsTO.name" placeholder="Documents"></td> -->


				</div>
				<div class="pull-right1 right-padding"
					ng-hide="preContractObj.workFlowStatusTO.value ==5 || preContractObj.workFlowStatusTO.value ==6">

					<input type="Submit" value="Save Contract"
						ng-click="procureForm.$valid && saveInternalRequest()"
						class="btn bottomaligned btn-brown btn-sm"> <input
						type="Submit" value="Send For Approval"
						ng-show="preContractObj.workFlowStatusTO.value ==1 || preContractObj.workFlowStatusTO.value ==3"
						ng-click="saveInternalRequest(2)"
						class="btn bottomaligned btn-brown btn-sm"> <input
						ng-show="preContractObj.workFlowStatusTO.value ==2" type="Submit"
						value="Send Back To Requestor" ng-click="saveInternalRequest(3)"
						class="btn bottomaligned btn-brown btn-sm"> <input
						type="Submit" value="On Hold" ng-click="saveInternalRequest(4)"
						ng-show="preContractObj.workFlowStatusTO.value ==2"
						class="btn bottomaligned btn-brown btn-sm"> <input
						type="Submit" value="Release" ng-click="saveInternalRequest(2)"
						ng-show="preContractObj.workFlowStatusTO.value ==4"
						class="btn bottomaligned btn-brown btn-sm"> <input
						ng-show="preContractObj.workFlowStatusTO.value ==2" type="Submit"
						value="Approve" ng-click="saveInternalRequest(5)"
						class="btn bottomaligned btn-brown btn-sm"> <input
						ng-show="preContractObj.workFlowStatusTO.value ==2" type="Submit"
						value="Reject" ng-click="saveInternalRequest(6)"
						class="btn bottomaligned btn-brown btn-sm">
				</div>
			</ng-form>
			<div ng-show="preContractObj.id > 0" id="tabs1" class="spacer4">
				<ul class="nav nav-tabs">
					<li ng-repeat="preContarctDetailTab in preContrctDetailTabs"
						ng-class="{active:isActiveTab1(preContarctDetailTab.url)}"><a
						data-toggle="tab" ng-click="onClickTab1(preContarctDetailTab)">{{preContarctDetailTab.title}}</a></li>
				</ul>
				<div class="tab-content">
					<div ng-include="currentTab1"></div>
				</div>
			</div>
		</div>
	</div>
</div>