<div id="tab-pannel">
	<div class="panel-group">
		<div class="panel panel-body23-0">
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Select</th>
							<th>Account Date</th>
							<th>Bank Name</th>
							<th>Bank Address</th>
							<th>IFSC Code</th>
							<th>Account Holder Name</th>
							<th>Account Holder Number</th>
							<th>Type of Account</th>
							<th>Account Status</th>
							<th>Notes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="account in empBankAccountDetails">
							<td><input type="checkbox" value="id"
								ng-model="account.selected"
								ng-click="backAccountRowSelect(account)"></td>
							<td>{{account.date | date}}</td>
							<td>{{account.bankName}}</td>
							<td>{{account.address}}</td>
							<td>{{account.ifscCode}}</td>
							<td>{{account.accName}}</td>
							<td>{{account.accNumber}}</td>
							<td>{{account.accType}}</td>
							<td>{{account.accStatus}}</td>
							<td>{{account.accComments}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="pull-right">
			<input type="button" class="btn btn-brown btn-sm"
				ng-click="addBankAccDetails('Add')" value="Create">
		</div>
		<div class="pull-left">
			<input type="button" class="btn btn-brown btn-sm"
				ng-click="addBankAccDetails('Edit')" value="Edit"> <input
				type="button" class="btn btn-brown btn-sm"
				ng-click="deactivateBankAccountDtls()" value="Deactivate">
		</div>
	</div>
</div>
