<div id="tab-pannel" ng-init="getEmpAttendenceSheets()">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Attendance Sheets</h4>
			</div>
			<div class="panel-body10-2 table-responsive">
				<table class="table table-striped table-fixed newTbl" fixed-header>
					<thead>
						<tr>
							<th>Attendance ID</th>
							<th>Attendance Month</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="attendence in empAttendenceSheets"
							ng-click="selectedAttendanceId(attendence)">
							<td>{{attendence.code}}</td>
							<td>{{attendence.attendenceMonth | date}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>