<div id="tab-pannel" class="panel-group" ng-controller="EmpAttendenceController">
	<div class="panel panel-default">
		<div class="panel-heading">
			    <h4 class="panel-title">Emplyoee Attendence</h4>
		</div>
		<div class="row text-black">
			<div class="row col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span>EPS Id:</span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span>Project Id:</span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<span>Attendance Id:</span>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1">
					<span>Month:</span>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1">
					<span>Year:</span>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1">
					<span>Crew Id:</span>
				</div>
			</div>
		</div>
		<div class="row text-black">
			<div class="row col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-2 col-sm-2 col-md-2">
					<input type="text" ng-model="searchProject.parentName"
						placeholder="EPS ID/EPS Name" ng-click="getUserProjects()">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<input type="text" ng-model="searchProject.projName"
						placeholder="Project ID/Project Name" ng-click="getUserProjects()">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<input type="text" ng-model="empAttendDtls.attendId"
						placeholder="Attendance ID"
						ng-click="getEmpAttendDtls(searchProject.projId)">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1">
					<input type="text" ng-model="empAttendDtls.month"
						style="width: 80px;" placeholder="Month"
						ng-click="getEmpAttendDtls(searchProject.projId)">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1">
					<input type="text" ng-model="empAttendDtls.year"
						style="width: 80px;" placeholder="Year"
						ng-click="getEmpAttendDtls(searchProject.projId)">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1">
					<select style="width: 80px;"
						ng-click="getCrewList(searchProject.projId)"
						ng-options="crew.code  for  crew  in  crewListData  track by  crew.code"
						ng-model="value.crewTO" ng-required="true"></select>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1">
					<input type="button" ng-click=""
						class="btn bottomaligned btn-brown btn-sm" value="Copy Template"
						ng-model="searchText">
				</div>
				<div class=" pull-right">
					<input type="button" ng-click="getEmpAttendData(searchProject.projId)"
						class="btn bottomaligned btn-brown btn-sm" value="Search"
						ng-model="searchText"> <input type="reset"
						class="btn bottomaligned btn-brown btn-sm"
						ng-click="resetEmpAttendData()" value="Reset">
				</div>
			</div>
		</div>
		<div
			class="table-responsive panel-body22 panel-collapse collapse in spacer1">
			<table class="table table-striped" fixed-header>
				<thead>
					<tr>
						<th>Select</th>
						<th>Employee Id</th>
						<th>Parent Company</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Category</th>
						<th>Trade</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<input type="button" class="btn btn-brown "
					ng-click="deleteEmpAttendance()" value="Deactivate">
			</div>
			<div class="pull-right">
				<input type="button" class="btn btn-brown "
					ng-click="saveEmpAttendanceData()" value="Save"> <input
					type="button" class="btn btn-brown "
					ng-click="addEmployeeDetails()" value="Add">
			</div>
		</div>
	</div>
</div>