<div id="tab-pannel">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Enterprise Structure</h4>
			</div>
			<div class="table-responsive panel-body10 panel-collapse collapse in">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>EPS ID</th>
							<th>EPS Name</th>
							<th>Project Code</th>
							<th>Project Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="projDetail in userProjDetailsTOs | orderBy:['parentEPSCode','projCode']" ng-click="selectproject(projDetail)">
							<td>{{projDetail.parentEPSCode}}</td>
							<td>{{projDetail.parentName}}</td>
							<td>{{projDetail.projCode}}</td>
							<td>{{projDetail.projName}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>




