<div id="tab-pannel">
	<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
	    	<tr>
	    	<th>Cost Code Group ID</th>
			<th>Cost Code Group Name</th>
			<th>Cost Code Sub Group ID</th>
			<th>Cost Code Sub Group Name</th>
			<th>Cost Code Item ID</th>
			<th>Cost Code Item Description</th>
			<th>Schedule Start</th>
			<th>Schedule Finish</th>
			<th>Original Duration</th>
			<th>Actual Start</th>
			<th>Actual Finish</th>
			<th>Actual Duration</th>
			<th>Original Cost</th>
			<th>Actual Cost to Date</th>
			<th>Earned Value Cost</th>
			<th>% Percent Spent Cost</th>
			<th>% Progress of Work</th>
			<th>Cost Completion Variance</th>
			<th>Productivity Factor</th>

			</tr>
		
		
		</thead>
		<tbody>
		<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		</tbody>
</table>


    
</div>
</div>

