<div id="tab-pannel" class="panel-group">
	<div id="tab-pannel" class="panel panel-default">
		<div class="panel-heading">
			<th>Crew List</th>
		</div>
		<div class="table-responsive panel-body10-2">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="crew in crews" ng-dblclick="crewlistpopup(crew)">
						<td>{{crew.code}}</td>
						<td>{{crew.desc}}</td>
					</tr>
					<tr ng-show="crews.length<=0">
						<td></td>
						<td colspan="2" style="color: red">No
							Crews for selected project</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
