<div id="tab-pannel">
	<div style="margin-top: 3px !important;"
		class="panel-body13-0 table-responsive table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th rowspan="2" class="vert-align">Threshold Category</th>
					<th colspan="2" class="text-center">SV%(Schedule Variance %)</th>
					<th colspan="2" class="text-center">CV%(Cost Variance %)</th>
					<th colspan="2" class="text-center">SPI(Schedule Performance
						Index)</th>
					<th colspan="2" class="text-center">CPI(Cost Performance
						Index)</th>
					<th colspan="2" class="text-center">TCPI(To Complete
						Performance Index)</th>
				</tr>
				<tr>
					<th>Lower Limit</th>
					<th>Upper Limit</th>
					<th>Lower Limit</th>
					<th>Upper Limit</th>
					<th>Lower Limit</th>
					<th>Upper Limit</th>
					<th>Lower Limit</th>
					<th>Upper Limit</th>
					<th>Lower Limit</th>
					<th>Upper Limit</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Warning</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Critical</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Exceptional</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Acceptable</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="pull-right">
			<input type="submit" class="btn bottomaligned btn-brown btn-sm"
				value="Save" ng-click="saveProjAttendence()">
		</div>
	</div>
</div>