<div id="tab-pannel" class="panel-group">
	<form name="projForm" validate>
		<div id="tab-pannel" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" ng-show="action =='Add'">Add Project</h4>
				<h4 class="panel-title" ng-show="action =='Edit'">Edit Project</h4>
			</div>
			<div id="tab-pannel" class="panel-body12">
				<div class="table-responsive">
					<table class="table">

						<thead>
							<tr>
								<th ng-hide="action =='Edit'">Select</th>
								<th align="center">Resource ID</th>
								<th align="center">Resource Name</th>
								<th align="center">Unit of Measure</th>
								<th align="center">Original Budget Quantity</th>
								<th align="center">Revised Budget Quantity</th>
								<th align="center">Actual Quantity to Date</th>
								<th align="center">Remaining Quantity</th>
								<th align="center">Schedule Start</th>
								<th align="center">Schedule Finish</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="plants in plantsList">
								<td ng-hide="action =='Edit'"><input type="checkbox"
									ng-model="plants.selected"
									ng-click="plantsPopUpRowSelect(plants)"></td>

								<td class="input-width"><input type="text"
									readonly="readonly"
									ng-model="plants.projPlantClassTO.plantClassTO.code"
									name="resId" ng-click="plantsDetails(plants)"
									placeholder="Resource Id" ng-required="true" /></td>

								<td class="input-width"><input type="text"
									readonly="readonly"
									ng-model="plants.projPlantClassTO.plantClassTO.name"
									name="resName" placeholder="Resource Name" /></td>


								<td class="input-width"><input type="text"
									ng-model="plants.projPlantClassTO.plantClassTO.measureUnitTO.name"
									name="unitOfMeasure" placeholder="Unit Of Measure" />
								</td>

								<td class="input-width"><input type="text"
									ng-model="plants.originalQty" name="originalQty"
									placeholder="Original Budget" maxlength="15" minlength="2"
									pattern="^[0-9]+$" ng-required="true" /> <span
									ng-show="projForm.originalQty.$dirty && projForm.ornQuantity.$error.required">
										Original Budget is Mandatory</span> <span
									ng-show="projForm.originalQty.$error.pattern">Enter
										Numbers Only</span><span
									ng-show="projForm.originalQty.$error.minlength">Minimum
										Two Numbers are Required</span></td>

								<td class="input-width"><input type="text"
									ng-model="plants.revisedQty" name="revisedQty"
									placeholder="Revised Budget" maxlength="15" minlength="2"
									pattern="^[0-9]+$" ng-required="true" /> <span
									ng-show="projForm.revisedQty.$dirty && projForm.revisedQty.$error.required">
										Revised Budget is Mandatory</span> <span
									ng-show="projForm.revisedQty.$error.pattern">Enter
										Numbers Only</span><span
									ng-show="projForm.revisedQty.$error.minlength">Minimum
										Two Numbers are Required</span></td>


								<td class="input-width"><input type="text"
									ng-model="plants.actualQty" name="actQuntyToDate"
									placeholder="Actual Quantity" ng-required="true" /></td>



								<td  class="input-width">{{plants.remainingQty = calcRemainingUnits(plants)}}</td>


								<td  class="input-width1"><input type="text" potdate-picker id="startDate"
									ng-model="plants.startDate" name="schStart" ng-trim="false"
									placeholder="Shedule Start" ng-required="true" /></td>

								<td  class="input-width1"><input type="text" potdate-picker id="finishDate"
									ng-model="plants.finishDate" name="FinishDate" ng-trim="false"
									placeholder="Shedule Finish" ng-required="true" /></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input type="submit" class="btn bottomaligned btn-brown btn-sm"
						ng-click="projForm.$valid && addRows()" value="Add"
						ng-show="action =='Add'" /> <input type="button"
						class="btn bottomaligned btn-brown btn-sm"
						ng-click="deleteProjRows()" value="Delete"
						ng-show="action =='Add'" />
				</div>
				<div class="pull-right">
					<input type="submit" class="btn bottomaligned btn-brown btn-sm"
						value="Save" ng-click="projForm.$valid && savePlants()" />
				</div>
			</div>
		</div>
	</form>
</div>