<div id="tab-pannel">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-body15-0 table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
	    	<tr>
		    	<th class="vert-align">Resource ID</th>
				<th  class="text-center">Resource Name</th>
				<th  class="text-center">Unit of Measure</th>
				<th  class="text-center">Budget Units</th>
				<th  class="text-center">Revised Units</th>
				<th  class="text-center">Actual Units</th>
				<th class="text-center">Remaining Units</th>
				<th  class="text-center">% Age Spent</th>
				<th  class="text-center">Estimate to Complete</th>
				<th  class="text-center">Estimate at Completion Quality</th>
				<th  class="text-center">Completion Variance</th>
				</tr>
		
			
		</thead>
		<tbody>

			<tr ng-repeat="plant in plantunits">
			<td>{{plant.plantsCode}}</td>
			<td>{{plant.plantsName}}</td>
			<td>{{plant.mesureName}}</td>
			<td>{{plant.originalQty}}</td>
			<td>{{plant.revisedQty}}</td>
			<td>{{plant.actualQty}}</td>
			<td>{{plant.remainingQty}}</td>
			<td>{{(plant.actualQty/plant.originalQty)*100 | number:4}}</td>
			<td>{{plant.estimate}}</td>
			<td>{{plant.completion}}</td>
			<td>{{plant.revisedQty-plant.completion}}</td>
			</tr>

		</tbody>
</table>


    
</div>

