<div class="text-black  panel-body15-0a box-border normal-fnt">
	<div style="margin-top: 1px !important;" class="panel-body13-0">
		<div class="row">
			<h5 class="text-center spacer2">
			<span class="underline">Reports - Period Cut Off
				selection</span></h5>
			<div id="input-width4" class="col-xs-12 col-sm-12 col-md-12">
				{{projReportsDetail}}
				<div class="row spacer2">
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
					<div class="col-xs-6 col-sm-4 col-md-4 text-right">Weekly</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<select
							ng-options="week.code  for week in  weekDays track by week.code"
							ng-model="report.weekEndDay"></select>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2"></div>	
				</div>
				<div class="row spacer1">
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
					<div class="col-xs-6 col-sm-4 col-md-4 text-right">Monthly</div>
					<div class="col-xs-6 col-sm-8 col-md-4">
						<input type="text" potdate-picker id="startDate" ng-model="tab.startDate"
							ng-required="true" /><span ng-bind="errMessage"></span>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
				</div>
				<div class="row spacer1">
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
					<div class="col-xs-6 col-sm-4 col-md-4 text-right">First
						Quarter in a year</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<select ng-model="settings.quarter" style="width: 132px;"><option
								value="">-select-</option>
							<option ng-repeat="quarter in months">{{quarter.name}}</option></select>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
				</div>
				<div class="row spacer1">
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
					<div class="col-xs-6 col-sm-4 col-md-4 text-right">First Half
						Year</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<select ng-model="settings.half" style="width: 132px;"><option
								value="">-select-</option>
							<option ng-repeat="half in months">{{half.name}}</option></select>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
				</div>
				<div class="row spacer1">
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
					<div class="col-xs-6 col-sm-4 col-md-4 text-right">Yearly</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<select ng-model="settings.year" style="width: 132px;"><option
								value="">-select-</option>
							<option ng-repeat="year in months">{{year.name}}</option></select>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-2"></div>
				</div>
			</div>
		</div>
	</div>
		<div class="panel-footer">
			<div class="pull-right">
				<input type="submit" class="btn bottomaligned btn-brown btn-sm"
					value="Save" ng-click="saveProj()">
			</div>
		</div>
	</div>