<div id="tab-pannel" class="panel-group">
	<form name="nonRegularpayForm" validate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Non Regular Pay</h4>
			</div>
			<div class="panel-body15">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th rowspan="4">Select</th>
								<th rowspan="4">Project Posting#</th>
								<th rowspan="4">Effective From</th>
								<th rowspan="4">EPS ID</th>
								<th rowspan="4">EPS Name</th>
								<th rowspan="4">Project ID</th>
								<th rowspan="4">Project Name</th>
								<th rowspan="4">Parent Company ID</th>
								<th rowspan="4">Parent Company Name</th>
								<th rowspan="4">Employee Tax File Number</th>
								<th rowspan="4">Currency</th>
								<th rowspan="4">Unit of Pay Rate</th>
								<th rowspan="4">Pay Cycle</th>
								<th rowspan="4">Basic Pay</th>
								<th colspan="6" class="text-center">Non Regular Pay and
									Allowances-Code wise applicable rates</th>
								<th rowspan="4">Special Pay roll run Date</th>
								<th rowspan="4">Employee Documents</th>
							</tr>
							<tr>
								<th colspan="2" class="text-center">BSP</th>
								<th colspan="1" class="text-center">TP</th>
								<th colspan="1" class="text-center">MLP</th>
								<th colspan="1" class="text-center">UALP</th>
								<th colspan="1" class="text-center">USLP</th>
							</tr>
							<tr>
								<th colspan="2" class="text-center">Bonus Pay</th>
								<th colspan="1" class="text-center">Termination Pay</th>
								<th colspan="1" class="text-center">Matarnity Leave Pay</th>
								<th colspan="1" class="text-center">Unused Anual Leave Pay</th>
								<th colspan="1" class="text-center">Unused Long Service Leave Pay</th>
							</tr>
							<tr>
								<th>% on BP</th>
								<th>Fixed amount</th>
								<th>Fixed amount</th>
								<th>Fixed amount</th>
								<th>Fixed amount</th>
								<th>Fixed amount</th>
							</tr>
						</thead>
						<tbody id="vert-align">
							<tr ng-repeat="nonregpay in addEmpNonRegularPay">
								<td><input type="checkbox" value="nonregpay.id"
									ng-model="nonregpay.selected"
									ng-click="NonRegPayPopUpRowSelect(nonregpay)"></td>
								<td class="input-width"><input type="text"
									name="projectPosting"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57'
									ng-model="nonregpay.projectPosting"
									placeholder="projectPosting" ng-required="true"
									pattern="[0-9]+"></td>
								<td><input type="date" name="effectiveFrom"
									ng-model="nonregpay.effectiveFrom" placeholder="effectiveFrom"
									ng-required="true"></td>


								<td class="input-width"><input type="text" name="epsId"
									ng-model="nonregpay.epsId" placeholder="epsId"
									readonly="readonly"></td>
								<td class="input-width"><input type="text" name="epsName"
									ng-model="nonregpay.epsName" placeholder="epsName"
									readonly="readonly"></td>
								<td class="input-width"><input type="text" name="pId"
									ng-model="nonregpay.pId" placeholder="pId" readonly="readonly"></td>
								<td class="input-width"><input type="text" name="pName"
									ng-model="nonregpay.pName" placeholder="pName"
									readonly="readonly"></td>
								<td class="input-width"><input type="text" name="pComId"
									ng-model="nonregpay.pComId" placeholder="pComId"
									readonly="readonly"></td>
								<td class="input-width"><input type="text" name="pComName"
									ng-model="nonregpay.pComName" placeholder="pComName"
									readonly="readonly"></td>

								<td class="input-width"><input type="text" name="taxNum"
									ng-model="nonregpay.taxNum" placeholder="taxNum"
									readonly="readonly"></td>
								<td class="input-width"><input type="text" name="currency"
									ng-model="nonregpay.currency" placeholder="currency"
									readonly="readonly"></td>
								<td class="input-width"><select
									ng-model="nonregpay.payRate" ng-required="true"><option
											ng-repeat="payRate in payRates">{{payRate.name}}</option>
								</select></td>
								<td class="input-width"><select
									ng-model="nonregpay.payCycle" ng-required="true"><option
											ng-repeat="payCycle in payCycles">{{payCycle.name}}</option>
								</select></td>
								<td class="input-width"><input type="number"
									name="basicPay" ng-model="nonregpay.basicPay"
									placeholder="basicPay" ng-required="true"></td>
								<td class="input-width"><input type="text" name="bp1"
									ng-model="nonregpay.bp1" placeholder="bp1" ng-required="true"></td>
								<td class="input-width"><input type="number" name="bp2"
									ng-model="nonregpay.bp2" placeholder="bp2" ng-required="true"></td>

								<td class="input-width"><input type="number" name="tp"
									ng-model="nonregpay.tp" placeholder="tp" ng-required="true"></td>
								<td class="input-width"><input type="number" name="mlp"
									ng-model="nonregpay.mlp" placeholder="mlp" ng-required="true"></td>
								<td class="input-width"><input type="number" name="ualp"
									ng-model="nonregpay.ualp" placeholder="ualp" ng-required="true"></td>
								<td class="input-width"><input type="number" name="uslp"
									ng-model="nonregpay.uslp" placeholder="uslp" ng-required="true"></td>
								<td><input type="date" name="runDate"
									ng-model="nonregpay.runDate" placeholder="runDate"
									ng-required="true"></td>
								<td><input type="file" name="doc" ng-model="nonregpay.doc"
									placeholder="doc" ng-required="true"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<input type="button" class="btn btn-brown btn-sm"
						ng-click="save(addEmpNonRegularPay,nonRegularpayForm)"
						value="Save">
				</div>
				<div class="pull-left">
					<input type="button" class="btn btn-brown btn-sm"
						ng-click="addRows()" value="Add" ng-show="action =='Add'">
					<input type="button" class="btn btn-brown btn-sm"
						ng-click="deleteRows()" value="Delete" ng-show="action =='Add'">
				</div>
			</div>
		</div>
	</form>
</div>