<div id="tab-pannel" class="panel-group">
	<div id="tab-pannel" class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Roles</h4>
		</div>
		<div class="panel-body8">
			<div id="tableHeight6-2">
			<table class="table table-striped" fixed-header>
				<thead>
					<tr>
						<th>Select</th>
						<th>Role Name</th>
					<tr>
				<thead>
				<tbody>
					<tr ng-repeat="role in roleLlist">
						<td><input type="checkbox" ng-model="role.select"></td>
						<td>{{role.roleName}}</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
			<div class="panel-footer1">
				<div class="text-center">
					<input type="button" class="btn btn-brown btn-sm" value="Ok"
						ng-click="rolePopup();">
				</div>
			</div>
		</div>
	</div>