<div id="tab-pannel" ng-init="getUserDetails()">
	<div class="panel-group">
		<div class="panel panel-default panel-body16">
			<div class="panel-heading">
				<h4 class="panel-title">Approvers List</h4>
			</div>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Employee Id</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Trade</th>
							<th>GlobalProfileName</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="approverList in approverLists"
							ng-click="approverListPopUp(approverList)">
							<td>{{approverList.userId}}</td>
							<td>{{approverList.firstName}}</td>
							<td>{{approverList.lastName}}</td>
							<td>{{approverList.empDesg}}</td>
							<td>{{approverList.roleDisplay}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>