<div id="tab-pannel" ng-controller="CreateTimeSheetController">
	<div class="panel-group" ng-init="getProjectEps()">
				<div class="panel panel-default">
					<form name="timesheetForm">
						<div
							class="timele-responsive panel-body9 panel-collapse collapse in">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>select</th>
										<th>Date</th>
										<th>EmployeeID</th>
										<th>FirstName</th>
										<th>surName</th>
										<th>costCodeId</th>
										<th>Amount</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="expenses in expensesList">
										<td><input type="checkbox" value="id"
											ng-model="expenses.selected"
											ng-click="expensesRowSelect(expenses)"></td>
										<td>{{expenses.Date}}</td>
										<td>{{expenses.employeeId}}</td>
										<td>{{expenses.firstName}}</td>
										<td>{{expenses.surName}}</td>
										<td>{{expenses.costcodeId}}</td>
										<td>{{expenses.amount}}</td>
										<td>{{expenses.desc}}</td>

									</tr>
								</tbody>
							</table>
						</div>

						<div class="panel-footer">
							<div class="pull-right">
								<input type="button" class="btn  btn-brown btn-sm"
									value="Add" ng-click="addExpenses('Add')">
							</div>
							<div class="pull-left">
								<input type="button" class="btn btn-brown btn-sm"
									ng-click="addExpenses('Edit')" value="Edit"> <input
									type="button" class="btn  btn-brown btn-sm"
									ng-click="submitForApproval()" value="Submit for Approval">
							</div>

						</div>

					</form>
				</div>
			</div>
		</div>



	</div>


</div>








