<div id="tab-pannel" class="panel-group  ">
	<form name="empRegForm" validate>
		<div class="panel panel-default ">
			<div class="panel-heading">
				<h4 class="panel-title">Employee Details</h4>
			</div>
			<div class="panel-body">
				<div class="table-responsive panel-body15">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Select</th>
								<th>ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Company ID</th>
								<th>Company Name</th>
								<th>Gender</th>
								<th>Date of Birth</th>
								<th>Designation</th>
								<th>Local/Non-Local</th>
								<th>Employment Type</th>
								<th>Existing or New</th>
							</tr>
						</thead>
						<tbody id="vert-align">
							<tr ng-repeat="employee in addEmpDetails">
								<td><input type="checkbox" value="employee.id"
									ng-model="employee.selected"
									ng-click="empDetailsPopUpRowSelect(employee)"></td>

								<td class="input-width"><input type="text" name="empId"
									ng-model="employee.code" placeholder="Emp Id"
									ng-required="true" pattern="[a-zA-Z-\d\s]+"> <span
									ng-show="empRegForm.empId.$error.pattern">only alpha
										numerics allowed</span></td>

								<td class="input-width"><input type="text" name="firstName"
									ng-model="employee.firstName" placeholder="First Name"
									ng-required="true" pattern="[a-zA-Z-\d\s]+"> <span
									ng-show="empRegForm.firstName.$error.pattern">only alpha
										numerics allowed</span></td>

								<td class="input-width"><input type="text" name="lastName"
									ng-model="employee.lastName" placeholder="Last Name"
									ng-required="true" pattern="[a-zA-Z-\d\s]+"> <span
									ng-show="empRegForm.lastName.$error.pattern">only alpha
										numerics allowed</span></td>

								<td><select
									ng-options="company.code for company in empCompanyMap  track by company.id"
									name="cmpId" ng-model="employee.cmpLabelKeyTO"
									ng-required="true">
								</select></td>

								<td><span>{{empCompanyMap[employee.cmpLabelKeyTO.id].name}}</span></td>

								<td><select ng-model="employee.gender"
									ng-required="true"
									ng-options="gender for gender in genderList">
								</select></td>

								<td class="input-width"><input type="text" potdate-picker id ="dob" name="dob" ng-model="employee.dob"
									placeholder="Date Of Birth" ng-required="true"></td>

								<td class="input-width"><input type="text" readonly="readonly"
									ng-model="employee.empClssLabelKeyTO.code"
									placeholder="Designation Name" name="designationNames"
									ng-click="empDesignation(employee.empClssLabelKeyTO)"></td>

								<td><select ng-model="employee.location"
									ng-required="true"
									ng-options="locality for locality in empLocalityList">
								</select></td>

								<td><select
									ng-options="category.name for category in emppocureMentCatgMap  track by category.id"
									name="empType" ng-model="employee.procureLabelKeyTO"
									ng-required="true">
								</select></td>

								<td><select ng-model="employee.empStatus"
									ng-required="true"
									ng-options="empType for empType in employeeTypeList">
								</select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input type="button" class="btn btn-brown btn-sm" ng-click="addRows()"
						value="Add" ng-show="action =='Add'"> <input type="button"
						class="btn btn-brown" ng-click="deleteRows()" value="Delete"
						ng-show="action =='Add'">
				</div>
				<div class="pull-right">
					<input type="button" class="btn btn-brown btn-sm"
						ng-click="saveEmpRegisters()" value="Save">
				</div>
			</div>
		</div>
	</form>
</div>


